<mat-form-field>
  <mat-label>Поиск</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Найти">
</mat-form-field>

<button mat-button (click)="openDialog()" mat-flat-button color="primary">Добавить QR</button>

<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort matSortActive="created" matSortDirection="desc" matSortDisableClear>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Создан </th>
      <td mat-cell *matCellDef="let element"> {{element.created * 1000 | date:'short':'UA':'uk-UA'}} </td>
    </ng-container>

    <ng-container matColumnDef="client_Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Имя </th>
      <td mat-cell *matCellDef="let element"> {{element.client_Name}} </td>
    </ng-container>

    <ng-container matColumnDef="client_Phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Телефон </th>
      <td mat-cell *matCellDef="let element"> {{element.client_Phone}} </td>
    </ng-container>

    <ng-container matColumnDef="startValidity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Начало действия </th>
      <td mat-cell *matCellDef="let element"> {{element.startValidity * 1000 | date:'short':'UA':'uk-UA'}} </td>
    </ng-container>

    <ng-container matColumnDef="validity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Срок действия </th>
      <td mat-cell *matCellDef="let element"> {{element.validity * 1000 | date:'short':'UA':'uk-UA'}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Действие </th>
      <td mat-cell *matCellDef="let element" class="action-link"> 
        <a class="action-button" (click)="sendQr(element)">Переслать</a> | 
        <a class="action-button" (click)="resetQr(element)">Обнулить</a>  
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
    [class.is-valid]="row.validity > timenow && row.startValidity <= timenow"
    [class.not-valid]="row.validity < timenow"
    [class.not-yet-active]="row.validity > timenow && row.startValidity > timenow"
                            (click)="selection.toggle(row)"></tr>
  </table>

  <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>