table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-column-select {
    overflow: initial;
  }

  .action-button {
    cursor: pointer;
  }

  .is-valid {
    background-color: #e2ffdb;
  }

  .not-valid {
    background-color: #ffe6e6;
  }

  .not-yet-active {
    background-color: rgb(253, 253, 239);
  }