<h1 mat-dialog-title>Добавить пригласительный QR</h1>
<form class="example-form" [formGroup]="addForm">
<div mat-dialog-content>
  <mat-form-field class="example-full-width">
    <input matInput formControlName="client_Name" placeholder="Введите имя" [errorStateMatcher]="matcher">
    <mat-error *ngIf="addForm.hasError('required', 'client_Name')">
      Нужно ввести Имя
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input [textMask]="{mask: phone_mask}" matInput formControlName="client_Phone" placeholder="Введите телефон" [errorStateMatcher]="matcher" >
    <mat-error *ngIf="addForm.hasError('required', 'client_Phone')">
      Нужно ввести Телефон
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput formControlName="startValidity" [errorStateMatcher]="matcher" [matDatepicker]="myDatepicker" >
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
    <mat-error *ngIf="addForm.hasError('required', 'startValidity')">
      Нужно выбрать Дату начала действия
    </mat-error>
    <mat-error *ngIf="addForm.hasError('cannotLessNow', 'startValidity')">
      Дата не может быть меньше текущей
    </mat-error>
    <mat-error *ngIf="addForm.hasError('cannotMore7Days', 'startValidity')">
      Дата не может быть больше 7 дней от текущей даты
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Срок действия</mat-label>
    <mat-select formControlName="interval" [errorStateMatcher]="matcher" >
      <mat-option *ngFor="let interval of intervals" [value]="interval.value">
        {{interval.viewValue}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="addForm.hasError('required', 'interval')">
      Нужно выбрать Срок действия
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [disabled]="addForm.invalid" (click)="doAction()">Добавить</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Отмена</button>
</div>
</form>